<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css" />
	<title>StoneJs</title>
</head>
<body>
	<% if (!isAuthenticated) { %>
	    <%= include navigation/default %>
	<% } else if(user.local.role === 'admin') { %>
		<%= include navigation/admin %>
	<% } else { %>
		<%= include navigation/user %>
	<% } %>
	<%- body %>
</body>
<footer>
	<script src='/vendor/jquery/jquery-2.1.0.min.js'></script>
	<script src='/vendor/bootstrap/js/bootstrap.min.js'></script>
</footer>
</html>
